@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 1200px) {
    .custom{
        height: 100vh;
        margin-bottom: 75px;
    }
}
.shadow-lg {
    background-color: #fff !important;
    box-shadow: 8px 7px 4px rgba(255, 0, 0, 0.7) !important;
}
.cooldown {
    /* border: solid; */
    width: 50%;
}
.card-body {
    height: 70px;
}
.card {
    margin-bottom: 20px;
}
.card img {
    height: 300px;
}